
@{
    ViewBag.Title = "Index";
}

<h2> Bienvenidos a los Contables </h2>

<a href="/Contabilidad/TipoCuenta" class="btn btn-primary">Crear un Nuevo Tipo de Cuenta Contable</a>

<a href="/Contabilidad/CatalogoCuenta" class="btn btn-primary">Crear Catalogo de Cuentas</a>

<a href="/Contabilidad/Movimientocontable" class="btn btn-primary">Crear una Entrada Contable</a> 